{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-success">GIỎ HÀNG</h1>

{% if 'cart' in session and session['cart'] %}
<table class="table">
    <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th></th>
    </tr>
    {% for c in session['cart'].values() %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ "{:,.1f}".format(c.price) }} VNĐ</td>
        <td>
            <input type="number" value="{{ c.quantity }}" class="form-control"/>
        </td>
        <td>
            <input type="button" value="Xóa" class="btn btn-danger"/>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="alert alert-info">
    <h3>Tổng sản phẩm: {{ cart.total_quantity }}</h3>
    <h3>Tổng tiền: {{ "{:,.1f}".format(cart.total_amount) }} VNĐ</h3>
</div>

<div>
    <input type="button" value="Thanh toán" class="btn btn-success" />
</div>
{% else %}
<p>Giỏ không có hàng!</p>
{% endif %}
{% endblock %}