{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-danger">CHI TIẾT SẢN PHẨM</h1>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <img src="{{ product.image }}" class="img-fluid" alt="{{ product.name }}" />
    </div>
    <div class="col-md-8 col-sm-6">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description|safe }}</p>
        <h3>{{ "{:,.1f}".format(product.price) }} VNĐ</h3>
        <div>
            {% for t in product.tags %}
            <p class="badge bg-success">{{ t.name }}</p>
            {% endfor %}
        </div>
    </div>
</div>

<hr>

{% if current_user.is_authenticated %}
<div class="form-group">
    <textarea placeholder="Nội dung bình luận..." id="comment-content" class="form-control"></textarea>
    <button class="btn btn-info mt-1" onclick="addComment({{ product.id }})">Thêm bình luận</button>
</div>
{% else %}
<p>Vui lòng <a href="/login?next=/products/{{product.id}}">đăng nhập</a> để bình luận!</p>
{% endif %}
<div class="spinner-grow spinner-grow-sm my-spinner"></div>
<ul class="list-group mt-2" id="comments">

</ul>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/details.js') }}"></script>
<script>
    window.onload = function() {
        loadComments({{ product.id }})
    }
</script>
{% endblock %}