{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-danger">CHI TIẾT SẢN PHẨM</h1>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <img src="{{ product.image }}" class="img-fluid" alt="{{ product.name }}" />
    </div>
    <div class="col-md-8 col-sm-6">
        <h1>{{ product.name }}</h1>
        <p>{{ product.description|safe }}</p>
        <h3>{{ "{:,.1f}".format(product.price) }} VNĐ</h3>
        <div>
            {% for t in product.tags %}
            <p class="badge bg-success">{{ t.name }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}