<form method="post" action="/login-admin">
  <div class="mb-3 mt-3">
    <label for="username" class="form-label">Tên đăng nhập:</label>
    <input type="text" class="form-control" id="username" placeholder="Nhập username" name="username">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Mật khẩu:</label>
    <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="password">
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>