{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-success">GIỎ HÀNG</h1>

{% if 'cart' in session %}
<table class="table">
    <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Đơn giá</th>
        <th>Số lượng</th>
        <th></th>
    </tr>
    {% for c in session['cart'].values() %}
    <tr id="cart{{c.id}}">
        <td>{{ c.id }}</td>
        <td>{{ c.name }}</td>
        <td>{{ "{:,.1f}".format(c.price) }} VNĐ</td>
        <td>
            <input type="number" class="form-control" onblur="updateCart({{c.id}}, this)" value="{{ c.quantity }}"/>
        </td>
        <td>
            <input type="button" value="Xóa" onclick="deleteCart({{c.id}})" class="btn btn-danger"/>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="alert alert-info">
    <h3>Tổng số lượng: <span class="cart-quantity">{{ cart['total_quantity'] }}</span></h3>
    <h3>Tổng tiền: <span class="cart-amount">{{ "{:,.1f}".format(cart['total_amount']) }}</span> VNĐ</h3>
</div>

<div>
    {% if current_user.is_authenticated %}
    <input type="button" value="Thanh toán" onclick="pay()" class="btn btn-success"/>
    {% else %}
    <p>Vui lòng <a href="/login?next=/cart">đăng nhập</a> để thanh toán!</p>
    {% endif %}
</div>
{% else %}
<p class="text-secondary">Không có hàng trong giỏ</p>
{% endif %}

{% endblock %}